# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##COREBASE##/meta \
  ##COREBASE##/meta-yocto \
  ##COREBASE##/meta-dm368ipnc \
  "

#w BBLAYERS ?= " \
#w   ##COREBASE##/meta \
#w   ##COREBASE##/meta-yocto \
#w   ##COREBASE##/meta-openembedded/meta-oe \
#w   ##COREBASE##/meta-dm368ipnc \
#w   "
